{% extends "admin/layout.njk" %}

{% block head %}
    <title>Criar - Receita</title>
    <link rel="stylesheet" href="/styles/admin/create.css">
{% endblock head %}

{% block content %}
    <div class="form-container">
        <form action="/admin/recipes" class="form-create" method="POST">
            <h3>Criando receita</h3>

            <p>Imagem da receita</p>
            <input type="url" name="image" />

            <p>Ingredientes</p>
            <div id="ingredients">
                <div class="ingredient">
                    <input type="text" name="ingredients[]" />
                </div>
            </div>
            <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

            <p>Modo de preparo</p>
            <div id="preparation">
                <div class="preparation">
                    <input type="text" name="preparation[]" />
                </div>
            </div>
            <button type="button" class="add-preparation">Adicionar novo passo</button>

            <p>Informações adicionais</p>
            <textarea name="information" rows="10 "></textarea>
    
            <button type="submit">Salvar receita</button>
        </form>
    </div>
{% endblock content %}