<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock head %}
    <link rel="stylesheet" href="/styles/admin/layout.css">
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="/admin/recipes"><img src="/assets/logo-admin.png" alt="logo Foodfy"></a>
        </div>
    </header>

    {% block content %}{% endblock content %}
</body>
</html>