<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}{% endblock head %}
        <link rel="stylesheet" href="/styles/layout.css">
    </head>

    <body>
        <div class="content">
            <header>
                <a href="/"><img src="/assets/logo.png" alt="logo de Foodfy"></a>
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </header>

            {% block content %}{% endblock content %}
        </div>

        <footer>
            <p>Todos direitos reservados, receitas Foodfy</p>
        </footer>
    </body>

</html>