main {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 48px;
    margin-top: 48px;
}

.recipe-header {
    margin-bottom: 24px;
    position: relative;
}

.recipe-header h2 {
    font-size: 24px;
    line-height: 34px;
    color: var(--primary-text-color);
}

.recipe-header a {
    background-color: var(--primary-color);
    padding: 8px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
}

main img {
    width: 100%;
    border-radius: 15px;
    height: 280px;
    margin-bottom: 48px;
}

.info {
    text-align: center;
}

.info h1 {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 4px;
}

.info p {
    color: #777;
    font-size: 20px;
    margin-bottom: 32px;
}

.ingredients h3, 
.preparation h3, 
.information h3 {
    font-size: 24px;
    color: var(--primary-text-color);
    display: inline-block;
    margin-bottom: 16px;
    margin-top: 32px;
}

.ingredients h3 {
    margin-top: 0;
}

.ingredients ol {
    list-style: inside;
}

.ingredients li,
.preparation li,
.information p {
    color: #444;
    font-size: 18px;
    line-height: 28px;
}

.preparation ol {
    list-style: inside;
    list-style-type: decimal;
}